@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-group {
    @apply relative z-0 inline-flex rounded-md shadow-sm;
  }

  .btn-group button {
    @apply relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500;
  }

  .btn-group-btn {
    @apply relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500;
  }

  .kbd-shortcut {
    @apply mx-0.5 inline-flex items-center rounded border border-gray-200 px-2 font-mono font-sans text-sm font-medium text-gray-600;
  }

  .btn-link {
    @apply text-sm font-semibold text-indigo-600 hover:text-indigo-900 disabled:opacity-50;
  }
}

.location-control {
  @apply absolute bottom-2 left-3 rounded bg-white bg-opacity-50 px-1 text-base tabular-nums tracking-tighter text-gray-800;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: transparent;
}